.camera-feed {
	z-index: 100;
}

.camera-feed.hidden {
	display: none;
}

.camera-feed.visually-hidden {
	visibility: hidden;
}

.camera-feed.fullscreen {
	max-width: none;
	max-height: none;
	width: 100%;
	height: 100%;
}
